body{font-family: cursive;background-color:rgb(0,0,0);
background-repeat:no-repeat;background-size:cover;}
#title{text-align:center;color:white;}
#description{text-align:center;padding:2%;color:white;}
#survey-form
{
  opacity:1;
  padding:5%;
  width:50%;
  margin:0 auto;
  background-color:#100830;
  color:white;
  opacity:0.9;
}

label{
  margin:30px 0;
}

input[type=text],input[type=email],input[type=number],select,option,textarea{
  width:100%;
  padding:1%;
}

